@use '../abstract/variables' as *;

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    font-family: $font-title;
    font-weight: 700;
    cursor: pointer;
    transition: transform 300ms ease, background-color 200ms ease, opacity 200ms ease;
}