$color-bg-main: rgba(48, 49, 49, 1);
$color-btn-primary: rgba(240, 234, 110, 1);
$color-text-dark: #1a1a1a;
$color-text-light: #ffffff;

$font-title: 'Red Rose', sans-serif;
$font-subtitle: 'Almarai', sans-serif;

$breakpoint-widescreen: 1440px;