@use '../abstract/variables' as *;

.page-home {
    position: relative;
    width: 100%;
    min-height: 100dvh;
    background-color: $color-bg-main;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        z-index: 2;
    }

    &__title-group {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    &__subtitle {
        font-family: $font-body;
        color: $color-text-muted;
        font-size: $font-size-subtitle;
        margin-bottom: 0.5rem;
    }

    &__title {
        font-family: $font-title;
        color: $color-text-white;
        font-size: $font-size-title;
        margin-bottom: 2rem;
    }

    &__controller-bg {
        position: absolute;
        bottom: 6px;
        left: -16px;
        width: 250px;
        pointer-events: none;
        z-index: 1;
    }
}

.btn--primary {
    gap: 1rem;
    padding: 0.8rem 2rem;
    font-size: 1.5rem;
    background-color: $color-btn-primary;
    color: $color-text-dark;

    .btn__icon-controller {
        width: 28px;
        height: 28px;
        transition: transform 300ms ease;
    }

    .btn__icon-arrow {
        width: 20px;
        height: 20px;
        transition: transform 300ms ease;
    }

    &:hover {
        transform: scale(1.08);

        .btn__icon-controller {
            transform: rotate(25.77deg);
        }

        .btn__icon-arrow {
            transform: scale(1.2) translateX(3px);
        }
    }
}